# This needs to by run in a Python2 environment

### This notebook describes how to get geographic or mapping data that relates to census information. This will be used to help us check that we have each census tract in DC represented in our data, and to relate data collected via the Uber API to census information.

This has great instructions, and a link to a notebook demo: https://pypi.python.org/pypi/cenpy/0.9.1
There are lots of other census things you can select, including different map layers and different cities, etc. 
Check it out so you can get the most relevant data for your study. Here, I only use layer 14 (census tracts) for 
my city (D.C. -> `'STATE = 11'`)

In [1]:
import cenpy as c

In [2]:
# initiate a connection with the database
conn = c.base.Connection('2010sf1')

In [3]:
# initiate a connection with the tiger shapefile database
conn.set_mapservice('tigerWMS_Census2010')

In [4]:
# look at census tracts in ESRIlayer 14
conn.mapservice.layers[14]

(ESRILayer) Census Tracts

In [5]:
# look at variables associated with a layer
conn.mapservice.layers[14].variables

         alias domain  length        name                   type
0        MTFCC   None       5       MTFCC    esriFieldTypeString
1          OID   None     NaN         OID    esriFieldTypeDouble
2        GEOID   None      11       GEOID    esriFieldTypeString
3        STATE   None       2       STATE    esriFieldTypeString
4       COUNTY   None       3      COUNTY    esriFieldTypeString
5        TRACT   None       6       TRACT    esriFieldTypeString
6     BASENAME   None     100    BASENAME    esriFieldTypeString
7         NAME   None     100        NAME    esriFieldTypeString
8        LSADC   None       2       LSADC    esriFieldTypeString
9     FUNCSTAT   None       1    FUNCSTAT    esriFieldTypeString
10    AREALAND   None     NaN    AREALAND    esriFieldTypeDouble
11   AREAWATER   None     NaN   AREAWATER    esriFieldTypeDouble
12          UR   None       1          UR    esriFieldTypeString
13  STGEOMETRY   None     NaN  STGEOMETRY  esriFieldTypeGeometry
14     CENTLAT   None      11     CENTLAT    esriFieldTypeString
15     CENTLON   None      12     CENTLON    esriFieldTypeString
16    INTPTLAT   None      11    INTPTLAT    esriFieldTypeString
17    INTPTLON   None      12    INTPTLON    esriFieldTypeString
18       HU100   None     NaN       HU100    esriFieldTypeDouble
19      POP100   None     NaN      POP100    esriFieldTypeDouble
20    OBJECTID   None     NaN    OBJECTID       esriFieldTypeOID

In [6]:
# create a dataframe for DC (State 11)
geodata = conn.mapservice.query(layer=14, where = 'STATE = 11')

In [7]:
geodata.head()

,AREALAND,AREAWATER,BASENAME,CENTLAT,CENTLON,COUNTY,FUNCSTAT,GEOID,HU100,INTPTLAT,...,LSADC,MTFCC,NAME,OBJECTID,OID,POP100,STATE,TRACT,UR,geometry
0,579629,0,80.02,+38.8915424,-076.9827573,001,S,11001008002,1644,+38.8915424,...,CT,G5020,Census Tract 80.02,23766,20740331304906,3031,11,008002,U,<pysal.cg.shapes.Polygon object at 0x119cb3990>
1,535254,0,78.09,+38.9015402,-076.9321955,001,S,11001007809,1339,+38.9015402,...,CT,G5020,Census Tract 78.09,23770,20740331304811,2922,11,007809,U,<pysal.cg.shapes.Polygon object at 0x119cb3b10>
2,543460,0,25.01,+38.9446515,-077.0317348,001,S,11001002501,1042,+38.9446515,...,CT,G5020,Census Tract 25.01,24466,20740331303268,2554,11,002501,U,<pysal.cg.shapes.Polygon object at 0x119ccc390>
3,300647,0,29,+38.9338479,-077.0299131,001,S,11001002900,1643,+38.9338479,...,CT,G5020,Census Tract 29,24471,20740331303383,3962,11,002900,U,<pysal.cg.shapes.Polygon object at 0x119ce2490>
4,603721,0,25.02,+38.9390574,-077.0301448,001,S,11001002502,2415,+38.9390574,...,CT,G5020,Census Tract 25.02,24472,20740331303283,5973,11,002502,U,<pysal.cg.shapes.Polygon object at 0x119cee790>

In order for the rest of this processing to work in python3, we need to lose the column `'geometry'` because that cannot be read in python3 due to pysal libray not being python3 compatible. 

To make the maps later in CartoDB, I uploaded the zipped census file found at www.census.gov for the DC area. It contains the shapefiles needed to draw the census tract boundaries. To learn how to use it, check out http://cartodb.github.io/training/intermediate/uofm-workshop.html I found it super-useful!

In [8]:
del geodata['geometry']

In [9]:
geodata.columns

Index([u'AREALAND', u'AREAWATER', u'BASENAME', u'CENTLAT', u'CENTLON',
       u'COUNTY', u'FUNCSTAT', u'GEOID', u'HU100', u'INTPTLAT', u'INTPTLON',
       u'LSADC', u'MTFCC', u'NAME', u'OBJECTID', u'OID', u'POP100', u'STATE',
       u'TRACT', u'UR'],
      dtype='object')

Now we can pickle it and/or save as a .csv for later use in `'Mapping_points_across_DC'` ipython notebook

In [10]:
geodata.to_csv('./data/geodata.csv', index=False)
geodata.to_pickle('./data/geodata.pkl')

### Now move to Python3 and the notebook Mapping_points_across_DC.ipynb